<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Print</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePrint()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doPrint()">
      <div class="list">
        <label class="item">
          <button class="button button-block button-positive" type="submit">Print1</button>
        </label>
      </div>
    </form>
     <form ng-submit="doPrint2()">
      <div class="list">
        <label class="item">
          <button class="button button-block button-positive" type="submit">Print2</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
